*:not(body),
*:not(html) {
  box-sizing: border-box; }

body {
  background-color: #edeff0;
  padding: 25px;
  max-width: 1300px;
  margin: auto;
  font-family: 'Roboto', sans-serif; }

hr {
  color: #c8c8c8;
  box-shadow: 0px 2px 3px #d2d2d2; }

hr {
  clear: left;
  margin-bottom: 20px; }

.course hr, .course-section .course-section-icon hr {
  box-shadow: none;
  border-color: #edeff0; }

h6 {
  border-radius: 10px;
  border: 2px solid #edeff0;
  text-align: center;
  width: 25%;
  font-size: 22px;
  margin: 0; }

.course-section-icon {
  width: 10%;
  float: left; }

.course-section-description {
  width: 90%; }

.number-members {
  font-size: 32px; }

.dark-grey-text {
  color: #a9afb2; }

.box-big {
  border-radius: 3px;
  height: 500px;
  background-color: #255A7D;
  text-align: center; }
  .box-big > img {
    margin-top: 100px; }

.box-big-header {
  border-radius: 3px 3px 0 0;
  background-color: #3079AB;
  object-fit: cover;
  height: 70px; }
  .box-big-header img {
    text-align: left; }

.colorjava {
  color: #2c9676; }
  .colorjava:hover {
    color: #fff;
    background-color: #2c9676; }

.colorpython {
  color: #f092b0; }
  .colorpython:hover {
    color: #fff;
    background-color: #f092b0; }

.colorWordpress {
  color: #838cc7; }
  .colorWordpress:hover {
    color: #fff;
    background-color: #838cc7; }

.inverted {
  filter: invert(100%); }

.partialinvert {
  filter: invert(100%);
  opacity: 0.3; }

.fa {
  margin: 0 10px 10px 10px; }

.fa-bell:after {
  content: "4";
  font-size: 14px;
  margin-bottom: 25px;
  position: relative;
  top: -25px;
  right: 8px;
  background-color: #ed5a5a;
  color: white;
  padding: 4px 4px 4px 4px;
  border-radius: 3px;
  font-weight: bold; }

.fa-circle-o {
  height: 1px;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px; }

.head {
  margin-left: -10px;
  margin-right: -10px;
  padding: 20px 25px 15px 25px;
  border-radius: 3px; }

.boxes {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px 10px 10px 0px;
  width: 600px;
  overflow: hidden; }
  @media (max-width: 1330px) {
    .boxes {
      clear: both;
      float: none !important;
      display: block;
      margin: auto;
      margin-bottom: 20px; } }
  @media (max-width: 675px) {
    .boxes {
      clear: both;
      float: none !important;
      width: 100%;
      min-width: 400px; } }

.javahead {
  background-color: #2c9676; }

.pythonhead {
  background-color: #f092b0; }

.wordpresshead {
  background-color: #838cc7; }

.rightly {
  float: right; }

.boxes h6:nth-of-type(2):hover {
  font-style: italic; }

.boxes h6:nth-of-type(2):active {
  color: #fff;
  background-color: #F1948A;
  content: ""; }

.boxes h6:nth-of-type(1):active {
  font-style: italic; }

.boxBottom {
  padding-top: 10px; }

.border {
  border-radius: 100%;
  border: 3px solid #dfe1e2;
  padding: 7px; }

.java {
  border-bottom: 1px solid #dfe1e2;
  border-radius: 3px;
  /*box-shadow: 1px 1px 5px black;*/ }

.col-left {
  width: 65%;
  float: left; }

.col-right {
  width: 35%;
  float: left; }
  .col-right img {
    float: right;
    margin-right: 30px; }
  .col-right p span {
    color: #3079AB; }
  .col-right h4 {
    border: #3079AB 2px solid;
    padding: 8px 8px;
    text-align: center;
    border-radius: 5px; }

.box-big-header img {
  margin-top: 15px; }
.box-big-header p {
  margin-top: 25px;
  padding-right: 15px;
  color: #fff; }

.course-section {
  width: 100%; }

.course-section-description p {
  margin-top: -15px; }

.first .leftly {
  width: 10%; }
.first .rightly {
  width: 90%; }

.box-wrapper {
  overflow: hidden;
  background-color: #fff; }

.boxes, .leftly, .java, .libHead {
  float: left; }

.col-left, .col-right {
  padding: 2em; }

/*# sourceMappingURL=style.css.map */
